
body{
	margin: 0px;
}

#wrapper {
	
	margin: auto;
	position: relative;
	top: 0; 
	bottom: 0; 
	left: 0;
	right: 0;
	width: 1000px;
}

#logo{
	width: 200px;
	height: 100px;
	margin:5px;
	border: 3px solid black;
	border-radius: 3px;
}

#district{
	width: 200px;
	height: 100px;
	margin: 5px;
	margin-left: 50px;
	position: absolute;
	display: inline;
}

#district p{
	position: absolute;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 30px;
}


#wethertitle {
	text-align: center;
}


tr{
	box-sizing: border-box;
}


td{
	border: 1px solid black;
}


#widjetwrap{
	position: relative;
	display: flex;
}


#moreinfo{
	margin: 5px;
	padding: 5px;
	//border: 2px solid black;

}

#moreinfo h1{
	font-size: 20px;
	margin: 5px;
	padding: 5px;
}

#currenttime{
	margin: 5px;
}

#wetherform{
	margin: 5px;
	//border: 2px solid black;
	width: 50%;
}

li{
	display: inline-block;
	list-style: none;
	padding: 10px;
}


#listofwetherhouer{
	margin: 4px;
}


.houerwether{
	width: 50px;
	height: 100px;
	text-align: center;
	display: inline-block;
	border: 1px solid black;
}



td{
	width: 50%;
}


table{
	position: relative;
	border-collapse: collapse;
}

#wetherdaylist table td{
	text-align: center;
	border: 0px;
	border-top: 1px solid black;
	
}

#wetherdaylist table{
		width: 100%;
}

th{
	text-align: left;
	border: 1px solid black;
	padding-left: 10px;
}



td div{
	display: inline-block;
	padding-bottom: 5px;
}


#footer li{
	text-align: center;
	width: 22%;
}







